{% extends 'base.html' %}

{% block body %}
  <div class="flex font-serif flex-row bg-black text-2xl p-6 justify-between w-[100%]">
    <div class="flex items-center">
      <a href="{% url 'get_categories' %}" class="p-2 text-white hover:text-slate-200"><button>Categories</button></a>
      <a href="{% url 'create_good' %}" class="p-2 text-white hover:text-slate-200"><button>Create Good Item</button></a>
      <a href="{% url 'logout_user' %}" class="p-2 text-white hover:text-slate-200">Log out</a>
    </div>
    {% include 'goods/search.html' %}
  </div>
  <h1 class="font-serif mt-14 text-center font-bold text-4xl">Goods List</h1>
  <div class="flex flex-col flex-wrap justify-center pt-14 pl-14 pr-14 mb-6">
    {% for good in goods %}
      <div class="flex flex-row p-5 border-b-[1px] border-gray-400 relative overflow-hidden m-1 justify-between items-center">
        <div class="flex flex-row items-center">
          <img src="{{ good.preview.url }}" alt="" class="max-w-[100px] max-h-[100px]" />
          <h2 class="text-xl truncate font-serif ml-5 w-24">{{ good.name }}</h2>
          <h3 class="text-gray-600 font-serif ml-5">{{ good.price }} uah</h3>
        </div>
        <div class="items-center mt-2">
          <a href="{% url 'get_good' good.pk %}" class="border-2 p-2 bg-white font-bold font-serif text-lg hover:bg-slate-100"><button class="h-10">View Details</button></a>
        </div>
      </div>
      {% empty %}
      <div class="text-center">
        <p class="font-serif text-xl mb-7">No results found.</p>
      </div>
    {% endfor %}
  </div>
  <div class="text-center">
    {% if form.is_bound %}
      <a href="{% url 'get_goods' %}" class="bottom-4 border-2 p-2 text-xl bg-white font-bold font-serif hover:bg-slate-100"><button>Back</button></a>
    {% endif %}
  </div>
{% endblock %}
