{% extends 'base.html' %}

{% block body %}
  <div class="flex font-serif flex-row bg-black text-2xl p-6 justify-between">
    <div class="flex items-center">
      <a href="{% url 'get_goods' %}" class="p-2 text-white hover:text-slate-200"><button>Home Page</button></a>
      <a href="{% url 'get_categories' %}" class="p-2 text-white hover:text-slate-200"><button>Categories</button></a>
      <a href="{% url 'create_good' %}" class="p-2 text-white hover:text-slate-200"><button>Create Good Item</button></a>
    </div>
  </div>
  <h1 class="font-serif mt-14 text-center font-bold text-4xl">Update Good</h1>
  <form method="post" enctype="multipart/form-data" class="font-serif text-xl m-14">
    {% csrf_token %}
    <div class="mb-7">
      <label for="id_name" class="font-bold">Name:</label>
      <br />
      {{ form.name }}
    </div>
    <div class="mb-7">
      <label for="id_price" class="font-bold">Price:</label>
      <br />
      {{ form.price }}
    </div>
    <div class="mb-7">
      <label for="id_description" class="font-bold">Description:</label>
      <br />
      {{ form.description }}
    </div>
    <div class="mb-7">
      <label for="id_image" class="font-bold">Image:</label>
      <br />
      {{ form.image }}
    </div>
    <div class="mb-7">
      <label for="id_category" class="font-bold">Category:</label>
      <br />
      {{ form.category }}
    </div>
    <button type="submit" class="border-2 p-2 bg-white font-bold font-serif text-lg hover:bg-slate-100">Submit</button>
  </form>
{% endblock %}
